* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Limitação de todos os componentes da pagina */
.limitar {
  max-width: 1024px;
  margin: 0 auto;
}
/* Seção do topo "Header.jsx"*/
header {
  padding: 10px 15px;
}
header div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 150px;
}

header a {
  font-size: 18px;
  color: #000;
  text-decoration: none;
  padding: 5px;
  margin: 0 5px;
}
/*Seção "Banner.jsx"*/
.banner {
  background-image: url(../public/assets/imagens/capa.png);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 80vh;
}
.banner-flex {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.texto-banner h1 {
  color: aliceblue;
  font-family: "Anybody", cursive;
  letter-spacing: 5px;
  text-align: start;
  margin-left: 180px;
  text-transform: uppercase;
  font-size: 40px;
}
.texto-banner h2 {
  color: gray;
  letter-spacing: 2px;
  margin-left: 100px;
}
/*Seção "Produtos.jsx"*/
.secao-produtos {
  width: 100%;
  text-align: center;
  padding: 10px 20px;
}
.produtos {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.texto-produtos h1 {
  font-size: 25px;
  display: flex;
  justify-content: center;
}
.texto-produtos h2 {
  font-size: 15px;
  display: flex;
  justify-content: center;
}
.secao-card {
  margin: 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cards {
  background-color: antiquewhite;
  width: calc(50% - 15px);
  padding: 20px 10px;
  margin: 0 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.cards img {
  width: 70%;
}
.lista {
  padding: 10px 12px 5px 0px;
  background-color: #f8f7ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
/*Secao "Conteudo.jsx"*/
.secao-sobre {
  background-color: #f8f7ff;
  padding: 100px 20px;
  text-align: center;
}
.sobre p {
  line-height: 30px;
}
.foto {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.foto img,
card {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border: 1px solid #000;
}
/*Secao Fale Conosco "Conteudo.jsx"*/
.fale-conosco{
    width: 100%;
    text-align: center;
    padding: 100px 20px;
    background-color: rgb(12, 12, 44);
    color: #f8f7ff;
}
.contato-container{
    display: flex;
    justify-content: center;
}
.contato{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}
.contato figure{
    display: flex;
    align-items: center;
    margin: 5px 0;

}
.contato img{
    width: 20px;
}
/* Rodapé Rodape.jsx */
footer {
    background-color: #030303;
    text-align: center;
    color: #ADADAD;
    padding: 20px;
  }