body{
    background-color: black;
}
.container{
    text-align: center;
    color: aliceblue;
    border: 5px solid white;
    border-radius: 15px;
    margin: 30px 60px;
    padding: 60px;
}