@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body{
    background-color: rgb(4, 1, 20);
}
.header{
    color: aliceblue;
    font-family: 'Homemade Apple', sans-serif ;
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
    line-height: 55px;
    margin-top: 32px;
}
.container1, h2, p, label{
    color: aliceblue;
}

.header h1 {
    font-size: 36px;
    margin: 0;
    line-height: 1.2;
}


.container1 {
    text-align: center;
    padding: 50px 20px;
}


.banner {
    max-width: 100%;
    
    height: auto;
    margin-bottom: 20px;
}


.contatos {
    margin-top: 20px;
}

.contatos img{
    width: 100%;
    width: 30px;
}

.contatos a {
    margin-right: 10px;
}

.container2 {
    background-color: rgb(4, 1, 20);
    padding: 50px 20px;
    text-align: center;
}


.container2 h2 {
    margin-top: 0;
}


.container2 form {
    margin-top: 20px;
}


.container2 form label {
    display: block;
    margin-bottom: 5px;
}


.container2 form input[type="text"],
.container2 form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.container2 form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.container2 form input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
}
/* Responsividade */
@media (max-width: 767px) {
    .container1 {
        padding: 30px 10px;
    }

    .container2 {
        padding: 30px 10px;
    }
}


@media (max-width: 575px) {
    .header h1 {
        font-size: 28px;
    }
}